body {
    background-color: #1b1b3f;
    color: rgb(251, 247, 247);
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
p {
    line-height: 16px;
    margin-bottom: 20px;
}

/*Nombre principal*/
h1 {
    font-family: 'Crete Round', serif;
    font-weight: bold;
    color: rgb(243, 238, 238);
    font-size: 45px;
    margin-bottom: 20px;
}
h2 {
    font-weight: 300;
    color: rgb(255, 254, 254);
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

h3 {
    font-size: 30px;
    color: rgb(247, 243, 243);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 30px;
}
h4 {
    font-size: 24px;
    color: rgb(251, 249, 249);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h5 {
    font-size: 15px;
    color: rgb(248, 247, 247);
    font-weight: bold;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: rgb(251, 245, 245);
}
a:hover {
    color: #02b8dd;
}
strong {
    font-weight: bold;
}
small {
    font-size: 13px;
    color: rgb(240, 233, 233);
    font-style: italic;
    font-weight: bold;
}
.clear {
    clear: both;
}
.wrapper {
    height: 590px;
    margin: 0 auto;
    padding: 0 60px;
    width: 1014px;
}
/*TODO seccion cabecera*/
header {
    height: 70px;
}
/*para cambiar la posicion de los titulos*/
header h1 {
    float: left;
    margin-top: 15px;
}
header h1 .color {
    color: #02b8dd;
}
header nav {
    float: right;
}
header nav ul li {
    float: left;
    display: inline-block;
    margin-top: 30px;
}
header nav ul li a {
    color: rgb(255, 250, 250);
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-right: 20px;
    font-size: 20px;
}
header img {
    max-width: 100%; /* Hacer que la imagen sea responsive (ancho máximo del 100%) */
    height: auto; /* Mantener la proporción de la imagen */
}

/*TODO seccion imagen*/
#hero-image {
    height: 680px;
    padding-top: 1px;
    background: #e8eced url('../img/inicio.jpg') no-repeat center;
}
#hero-image h2 {
    margin: 180px 0 40px 0;
}
.button-1 {
    display: block;
    text-align: center;
    background: #e2a054  ;
    font-weight: bolder;
    border-radius: 10px;
    color: rgb(11, 11, 11);
    width: 180px;
    height: 54px;
    font-size: 20px;
    line-height: 50px;
    margin: 102px auto;
}
.button-1:hover {
    background-color: #02b8dd;
    color: #fff;
}

/*TODO Seccion features*/
#features ul {
    margin: 25px 50;
}

#features ul li {
    width: 250px;
    padding-top: 370px;
    float: left;
    margin-right: 30px;
    text-align: justify;
}
#features ul li.feature-1 {
    background: url('../img/principito.jpg') no-repeat;
    background-size: cover;
    position: relative;
    left: 0%;
    flex-flow: row;
    height: 80px;
}
#features ul li.feature-2 {
    background: url('../img/portada2.jpg') no-repeat;
    background-size: cover;
    position: relative;
    left: 0%;
    flex-flow: row;
    height: 80px;
}
#features ul li.feature-3 {
    background: url('../img/portada3.jpg') no-repeat;
    background-size: cover;
    position: relative;
    left: 0%;
    flex-flow: row;
    height: 80px;
}

#features ul li.feature-4 {
    background: url('../img/portada1.jpg') no-repeat;
    background-size: cover;
    position: relative;
    left: 0%;
    flex-flow: row;
    height: 80px;
}

#features ul li.feature-5 {
    background: url('../img/portada4.jpg') no-repeat;
    background-size: cover;
    position: relative;
    left: 0%;
    flex-flow: row;
    height: 80px;
}

#features ul li.feature-6 {
    background: url('../img/portada5.jpg') no-repeat;
    background-size: cover;
    position: relative;
    left: 0%;
    flex-flow: row;
    height: 80px;
}

/*TODO Contenid primario*/
#primary-content {
    background-color: #282868 ;
    padding: 0px 0;
    text-align: center;
}
#primary-content h3 {
    display: block;
    margin: 0 auto 20px auto;
    width: 400px;
    border-bottom: 1px solid #02b8dd;
    padding: 0 0 20px 0;
}
#primary-content a img {
    margin: 20px 0;
}

/*TODO Contenido secundario*/
#secondary-content {
    padding: 0px 0;
    text-align: center;
}
#secondary-content article {
    background-color: rgba(0, 0, 0, 0.5);
    height: 400px;
    width: 400px;
    float: left;
    /*background-color: #282868;*/
}
#secondary-content article:first-child {
    margin-right: 3px;
}
#secondary-content article .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    left: 0%;
    flex-flow: row;
    height: 400px;
    width: 400px;
    padding: 50px;
}
article h4 {
    border-bottom: 1px solid #02b8dd;
    padding-bottom: 20px;
}
.more-link {
    border: 1px solid #02b8dd;
    color: #02b8dd;
    padding: 6px 20px;
    border-radius: 3px;
}
.more-link:hover {
    background-color: #02b8dd;
    color: #fff;
}

/*TODO Call To Action*/
#cta {
    padding: 60px 0;
    text-align: center;
}
#cta h3 {
    display: block;
    margin: 0 auto 20px auto;
    width: 400px;
    border-bottom: 1px solid #02b8dd;
    padding: 0 0 20px 0;
}
.button-2 {
    display: block;
    margin: 0 auto;
    border: 2px solid #02b8dd;
    color: #02b8dd;
    border-radius: 3px;
    width: 180px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
}
.button-2:hover {
    background-color: #02b8dd;
    color: #fff;
}

/*TODO pie de pagina*/
footer {
    padding: 60px 0;
    background-color: #282868;
}
#footer-info {
    width: 380px;
    float: left;
    margin-top: 10px;
}
#footer-links {
    width: 520px;
    float: right;
}
#footer-links ul {
    width: 150px;
    float: left;
    margin-left: 20px;
}
#footer-links ul li {
    margin: 10px 0;
}